---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";

export async function getStaticPaths() {
  const chapters = await getCollection("chapters");
  return chapters.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div slot="sidebar">
    <Sidebar />
  </div>
  <article class="prose lg:prose-xl leading-relaxed">
    <Content />
  </article>
</Layout>

