---
const redirectUrl = `${import.meta.env.BASE_URL}/ch0/`.replace(/\/+/g, "/");
return Astro.redirect(redirectUrl);
---

<!doctype html>
<html lang="hi">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>
      If you are not redirected automatically, <a href="/ch0/"
        >follow this link</a
      >.
    </p>
  </body>
</html>
