---

---

<!doctype html>
<html lang="hi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/ch0/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>
      If you are not redirected automatically, <a href="/ch0/"
        >follow this link</a
      >.
    </p>
  </body>
</html>
