---
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="hi">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="The Beginning of Infinity, by David Deutsch, translated to Hindi"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={`${import.meta.env.BASE_URL}/favicon.png`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 text-gray-800">
    <!-- Mobile menu button -->
    <button id="menu-btn" class="md:hidden fixed top-4 right-4 z-20 p-2 rounded-md bg-gray-200/50 text-gray-800 hover:text-gray-600 focus:outline-none focus:text-gray-600">
      <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <div class="relative min-h-screen md:flex">
      <!-- Sidebar -->
      <aside
        id="sidebar"
        class="transform -translate-x-full md:translate-x-0 transition-transform duration-200 ease-in-out bg-gray-100 p-8 fixed md:sticky md:top-0 md:w-72 h-screen overflow-y-auto z-10"
      >
        <!-- Sidebar content will go here -->
        <slot name="sidebar" />
      </aside>

      <!-- Main content -->
      <main class="w-full md:flex-1 p-8 md:p-16 md:px-24 lg:px-48">
        <slot />
      </main>
    </div>

    <script>
      const menuBtn = document.getElementById('menu-btn');
      const sidebar = document.getElementById('sidebar');

      if (menuBtn && sidebar) {
        menuBtn.addEventListener('click', () => {
          sidebar.classList.toggle('-translate-x-full');
        });

        // Optional: Close sidebar when clicking outside of it on mobile
        document.addEventListener('click', (event) => {
          const isClickInsideSidebar = sidebar.contains(event.target as Node);
          const isClickOnMenuBtn = menuBtn.contains(event.target as Node);

          if (!isClickInsideSidebar && !isClickOnMenuBtn && !sidebar.classList.contains('-translate-x-full')) {
              sidebar.classList.add('-translate-x-full');
          }
        });
      }
    </script>
  </body>
</html>

